<h1>NSIT</h1>
<h1>CONSILIUM 2017</h1>
<h1>Mockstock Portal</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if user_signed_in? %>
   <%= link_to('logout', destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('login', new_user_session_path) %>
<% end %>